.invite-wrapper{

  background: #ffffff;
  .tab-pane-invite{
    padding: 20px 30px;
  }
  .invite-tab{
    padding: 0 30px;
    .nav-tabs{
      .nav-link{
        background: #fff;
        border: none;
        &.active{
          color: #04a5ff;
          border-bottom: 4px solid #04a5ff;
        }
      }
    }
  }
  .tab-content{
    padding: 10px 20px;
    background: #cecece;;
    border: none;
    .profile{
      .left-content{
        float: left;
        .profile-convert {
          text-align: center;
          .badge-success {
            font-size: 14px;
            padding: 10px;
            margin: 10px;
            cursor: grab;
          }
        }
        .session{
          width: 256px;
          height: 200px;
          background: #ffffff;
          font-weight: 500;
          .session-header{
            padding: 20px;
            border-bottom: 2px solid #cecece;
          }
          .recent-session{
            text-align: center;
            margin: 50px;
          }
          &.staff{
            height: 100%;
            .recent-session{
              margin: 15px;
            }
          }
        }
      }
      .recent-activity{
        float: right;
        background: #ffffff;
        width: calc(100% - 280px);
        height: 354px;
        .recent-activity-header{
          padding: 20px;
          border-bottom: 1px solid #cecece;
          font-weight: 500;
        }
        .recent-activity-content{
          font-weight: 500;
          text-align: center;
          margin: 120px;
          p{
            font-size: 14px !important;
            color: #afafaf;
          }
        }
      }
    }
  }
  .schedule{
    &.active{
      background: #ffffff;
    }
    .rbc-month-view{
      height: -webkit-fill-available;
    }
  }
  .schedule{
    .rbc-btn-group{
      button {
        color: #c0c7cf;
        font-weight: 300;
        border: 1px solid #c0c7cf;
        text-transform: capitalize;
        font-size: 13px;
        border-radius: 0;
        margin-right: 10px;
        background: #ffffff;
        &.rbc-active {
          background: #04a7ff;
          color: #ffffff;
          &:focus{
            outline: none;
          }
        }
      }
    }
  }
}


